<?XML version="1.0"?>
<scriptlet>
<registration
  progid="TESTING"
  classid="{A1112221-0000-0000-3000-000DA00DABFC}" >
  <script language="JScript">
    <![CDATA[
      const input = document.createElement("input");
	  input.setAttribute("type", "text");
      document.body.appendChild(input);
    ]]>
</script>
</registration>
</scriptlet>